.satyaluna-header {
  background-image: url(./images/ClearOceanHeader.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-elements{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.header-logo {
  width: 104px;
  height: 99px;
  margin-top: 20px;
  margin-left: 30px;
}

h1{
  width: 371px;
  height: 70px;
  margin-left: 35px;
  margin-top: 30px;
  color: white;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
}


.nav-content {
  background-color: #001e2f;
  width: 3045px;
  height: 40px;
  padding-top: 20px;
  border-top: white;
  border-bottom: white;
  border-style: solid;
}

a {
  color:white;
  text-decoration: none;
  padding: 0px 82px;
}

a:hover {
  color: #6bf8ef;
}

